certifi==2025.1.31
charset-normalizer==3.4.1
cloudscraper==1.2.71
colorama==0.4.6
idna==3.10
pixivpy3==3.7.5
pyparsing==3.2.3
requests==2.32.3
requests-toolbelt==1.0.0
tqdm==4.67.1
typing_extensions==4.13.2
urllib3==2.4.0
